@import "../../../../scss/colors.scss";

.container{
    display: flex;
    flex-direction: row;
}
.right{
    align-self: center;
    i{
        font-size: 1.33rem;
        &:hover{
            color: $icon-hover
        }
        &:active{
            color: $icon-active
        }
    }
}   
.left{
    width: 100%;

}