@import "../../../scss/colors.scss";
.topbar{
    position: fixed;
    display: flex;
    width: 100%;
    padding: 20px;
    z-index: 5;
    
}

.right{
    display: flex;
    justify-content: flex-end;
}
.left{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
