@import "../../../scss/colors.scss";
.topbar{
    position: fixed;
    display: flex;
    width: 100%;
    padding: 20px;
    z-index: 5;
    
}

.right{
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
.left{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    >h1{
        color: $primary;
        font-size: 2rem;
    }
}
