
@import "../../scss/colors.scss";
.container{
    height: 100vh;
    max-height: 100vh;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.center{

    width: 20rem;
    background-color: $focused-box;
    border-radius: 16px;
    padding: 1rem;
    box-shadow: $default-shadow;

}
.storeTitle{
    position: fixed !important;
    top: 0;
    color: $primary;
    margin: 2%;
}