@import "../../../scss/colors.scss";
.button{
    padding: 0.5rem !important;
    @extend .secondaryBtn !optional;
    > img{
        width: 1.5rem;
        height: 1.5rem;
    }
}
.container{
    background-color: $focused-box;
    border-radius: 32px;
    padding: 0.5rem;
}

.cartCount{
    border-radius: 32px;
    background-color: black;
    width: 1.70rem;
    height: 1.70rem;
    text-align: center;
    display: flex;
    justify-content: center;
    > p{
        transform: translate(0, 0.1rem);
        color: white;
    }
}