$primary: #ff0a8d;
$primary-hover: #c7006a ;
$primary-active: #a3075a ;

$non-important-btn:  #181a21;
$non-important-btn-hover:  #111318;
$non-important-btn-active: #a3a3a3;

$secondary: #0a64ff;

$tertiary: #aa00ff;

$focus: #fbff00;

$text-primary: #fff;
$text-secondary: #909090;

$border: black;

$bg-primary: #181a21;
$background-primary: #181a21;


$close: #ff0000;
$danger: #ff0000;


$focused-box: #2c2e36;

//bootstrap

$input-bg: #181a21;

//shadows
$default-shadow: rgb(24, 25, 26) 0px 20px 30px -10px;

//semanthic 
$border-primary: gray;
$background-secondary: #181a21;