//own imports
@import "./index.scss";
@import "./colors.scss";
@import "./components/components.module.scss";

//modificaciones semanthic
@import "./semanthic/index.scss";

//modificaciones de bootstrap
@import "./bootstrap/index.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


//external imports
@import "../../node_modules/bootstrap/scss/bootstrap";


* {
    color: $text-primary
}
body {
    margin: 0;
    background-color: $bg-primary;
}
.storeTitle{
    color: $primary;
}
h1,h2,h4,h5,h6 {
    margin: 0;
    color: $primary;
}
h3{
    color: gray;
    display: inline;
}
p{
    margin: 0;
    color: $text-primary;
}
a{
    margin: 0;
    padding: 0;
    color: $primary;

    &:hover{
        color: $text-secondary;
    }

}


